*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.header{
    width: 100%;
    height: 80px;
    display: block;
    background-color: rgb(0, 0, 0);
}
.inner_header{
    width: 90%;
    height: 100%;
    display: block;
    margin: 0 auto;
}
.container{
    height: 100%;
    display: table;
    float: left;    
}
.container h1{
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Times New Roman', Times, serif;
    font-size: 32px;
    font-weight: 200; 
}
.container h1 spam{
    font-weight: 800;
}
.nav{
    float: right;
    height: 100%;
}
.nav a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}
.nav a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}
form{
    margin: 35px; 
}
.contact{
    width: 500px;
    background-color: #fff;
    box-shadow: 0 0 20px 0 #999;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}
.input{
    width: 400px;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #777;
    border-radius: 14px;
    outline: none;
}
.btn{
    padding: 8px 20px;
    margin: 7px 0;
    border: 2px solid black;
    border-radius: 30px;
    font-size: 18px;
    }
    .btn:hover{
        color: brown;
    }
.footer{
    background: #24262b;
    padding: 95px 175px;
    top: 80%;
position: absolute;
width: -moz-available;
}
.container1{
    max-width: 1170px;
    margin: auto;
    display: contents;
}
.row{
    display: flex;
   /* flex-wrap: wrap;*/
}
ul{
    list-style: none;
}
.footer-col{
width: 25%;
padding: 0 15px;
}
.footer-col h4{
    font-size: 20px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 20px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s easy;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}
